version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: dd-mongo
    restart: always
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: dd-backend
    restart: always
    environment:
      MONGO_URL: mongodb://mongo:27017/dd_db
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: dd-frontend
    restart: always
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: dd-nginx
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data:
